.site-navigation {
    height:65px;
    width:100%;
    background-color:antiquewhite;
    display:flex;
    justify-content:space-between;
    color: $text-color;
    position: fixed;
    z-index: 100;
    top: 0;

    .nav-content-container {
        display: flex;
        align-items: center;
        margin-right: 30px;
    
        .ant-avatar {
            background-color: transparent;
            border: 1px solid #444;
        }
    }
    .nav-avatar-name {
        font-size: 1.5rem;
        margin-left: 15px;
    }
    .nav-avatar-container{
        display:flex;
        align-items:center;
        margin-right:15px;
    }

    .site-title{
        font-size:1.5rem;
        display:flex;
        align-items:center;
        margin-left:30px;
        font-weight:500;
    }
    ul{
        height:100%;
        margin-block-start:0;
        margin-block-end:0;
        padding-inline-start: 0;
        display:flex;
        list-style-type:none;
        margin-right:20px;
        li {
            line-height:3;
        }
        a{
            text-decoration:none;
            padding:0 1rem 0 1rem;
            font-size: 1.25rem;
            color:$text-link;
        }
    }
    .hamburger{
        display:none;
    }
}

@media screen and (max-width: 900px) {
    .site-navigation {
        .nav-content-container {
            width: 300px;
            height: calc(100% - 65px);
            background: antiquewhite;
            position: fixed;
            top: 65px;
            left: -300px;
            transition: 300ms ease left;
            flex-direction: column-reverse;

            ul {
                flex-direction: column;
                justify-content: flex-start;

                li {
                    text-align:left;
                    height: 65px;
                    display: flex;
                    align-items: center;
                }
                a {
                    padding: 20px 15px;
                    width: 100%;
                }
            }

            ul, li, .nav-avatar-container {
                width: 100%;
            }

            .ant-avatar {
                align-self: flex-start;
                margin-left: 30px;
            }
        }
        &.is-active {
            .nav-content-container {
                left: 0px;
            }
            .hamburger {
                display: flex;
            }
        }
    }
}

